.Pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.Button{
    margin: 0 2px;
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color: rgb(155, 155, 155);
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-weight: 600;
}

.Button:disabled{
    cursor: not-allowed;
}

.Hide{
    display: none;
}