.BookToCart{
    box-sizing: border-box;
    padding: 5px;
}

.BookContent{
    display: inline-block;
    font-size: 120%;
    margin-left: 20px;
}

.GenreList{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60%;
}

.Price{
    display: block;
    font-weight: 600;
    box-sizing: border-box;
    margin-top: 20px;
    font-size: 140%;
}

.Price::before{
    content: "₹ ";
    color: rgb(171, 24, 139);
}