.BookToCart{
    box-sizing: border-box;
    padding: 5px;
}

.BookContent{
    display: inline-block;
    font-size: 120%;
    margin-left: 20px;
}

.GenreList{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60%;
}