.Book{
    height: 325px;
    width: 225px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px 0px #aaa;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

.Book:hover{
    box-shadow: 0px 8px 16px 0px rgb(99, 99, 99);
}

.Book .GenreList{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60%;
}