.Button{
    box-sizing: border-box;
    outline: 0;
    border-radius: 15px;
    padding: 10px 15px;
    background-color: rgb(171, 24, 139);
    width: 120px;
    height: auto;
    margin: 0 10px;
}

.Button:hover{
    background-color: rgb(231, 98, 202);
}

.Cancel{
    background-color: #aaa;
}

.Cancel:hover{
    background-color: #bbb;
}