.CartItemList{
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 50px;
}

.Header{
    display: block;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 170%;
    padding: 10px 0;
}

.Total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.Checkout{
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px 8px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: rgb(171, 24, 139);
    color: white;
    font-weight: 600;
}

.Checkout:hover{
    background-color: rgb(231, 98, 202);
}